<div class="m-auto h-75 w-75">
  <h2 class="text-center">Inscribir alumno</h2>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label> Nombre </mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label> Categoria </mat-label>
      <mat-select formControlName="categoryId">
        <mat-option [value]="course.id" *ngFor="let course of courses$ | async">
          {{ course.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-flat-button>Guardar</button>
  </form>
</div>

<p>{{ classes$ | async | json }}</p>
