@if(isLoading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<p class="text-center my-5">CARGANDO...</p>
}@else {
<div class="main-container">
  <h2 class="text-center">Detalle de {{ user?.role | titlecase }}</h2>
  <div class="border rounded m-5">
    <div
      class="align-items-center d-flex gap-4 p-5 text-center justify-content-center"
    >
      <div class="col-4">
        <mat-card class="col-12 p-5 m-auto border">
          <div class="card-content m-auto text-center">
            <mat-icon class="m-auto"> person </mat-icon>
            <p class="text-center">Próximamente...</p>
          </div>
        </mat-card>
      </div>
      <mat-card class="col-6 border border-3 p-5">
        <div class="card-content d-inline">
          <p>ID: {{ user?.id }}</p>
          <p>Nombre: {{ user?.firstName }}</p>
          <p>Apellido: {{ user?.lastName }}</p>
          <p>Mail: {{ user?.email }}</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>
}
