<h1 mat-dialog-title>Asignar producto al cliente</h1>

<div mat-dialog-content>
  <form [formGroup]="inscriptionForm">
    <mat-form-field class="col-12">
      <mat-label>Seleccione un cliente</mat-label>
      <input matInput formControlName="studentId" />
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label> Categoria </mat-label>
      <mat-select formControlName="courseId">
        <mat-option *ngFor="let course of courses$ | async" [value]="course.id">
          {{ course.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button (click)="onSave()" mat-button>Guardar</button>
  </div>
</div>
