.example-container {
  width: 100%;
  height: 100vh;
  
}

.example-sidenav-content {

  height: 100%;

}

.example-sidenav {
  padding: 20px;
  width: 200px;
}
img{
  height: 50px;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}