.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  width: 200px;
}
img {
  height: 30px;
}
.textColor {
  color: chartreuse;
}
.logout {
  margin-left: 30px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.bg-table{
    background-color: #2e3b38;
}