<mat-drawer-container class="example-container" autosize>
  <!-- SECCION IZQUIERDA (PARTE INTERIOR DEL SIDEBAR) -->
  <mat-drawer #drawer class="example-sidenav bg-table" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="home">Inicio</a>
      <a mat-list-item routerLink="users" *ngIf="isAdmin$ | async">Usuarios</a>
      <a mat-list-item routerLink="students">Clientes</a>
      <a mat-list-item routerLink="courses">Productos</a>
      <a mat-list-item routerLink="inscriptions">Inscripciones</a>
      <button mat-flat-button class="logout" (click)="logout()">
        <mat-icon> logout </mat-icon>
        <p class="m-auto">Logout</p>
      </button>
    </mat-nav-list>
  </mat-drawer>

  <!-- SECCION DERECHA DEL CONTENIDO -->
  <div class="example-sidenav-content">
    <div>
      <mat-toolbar class="d-flex justify-content-between w-100 h-100 p-3">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <img
            src="https://imgs.search.brave.com/-z7s6ujc_aY_XB31ZNmL9RL98KX-d9fgx6s4MeMp3Wc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/aWNvbnNjb3V0LmNv/bS9pY29uL3ByZW1p/dW0vcG5nLTI1Ni10/aHVtYi9jb250cm9s/LXBhbmVsLWljb24t/ZG93bmxvYWQtaW4t/c3ZnLXBuZy1naWYt/ZmlsZS1mb3JtYXRz/LS1kYXNoYm9hcmQt/c2V0dGluZy1hZG1p/bi1jb21wdXRlci13/ZWItaG9zdGluZy1w/YWNrLWRlc2lnbi1k/ZXZlbG9wbWVudC1p/Y29ucy0xMDgwMTY3/OS5wbmc_Zj13ZWJw/Jnc9MTI4"
            alt="Logo del panel"
          />
        </div>
        <div
          class="d-flex gap-3 align-items-center mx-5"
          *ngIf="authUser$ | async; let authUser"
        >
          <mat-icon> person </mat-icon>
          <p class="my-auto textColor" *ngIf="isAdmin$ | async">
            {{ authUser.role | uppercase }}
          </p>
          <p class="my-auto">
            {{ authUser.firstName | titlecase }}
            {{ authUser.lastName | titlecase }}
          </p>
        </div>
      </mat-toolbar>

      <h3 class="route-display text-center m-3">{{ currentRouteName }}</h3>
    </div>

    <router-outlet />
  </div>
</mat-drawer-container>
