<mat-drawer-container class="example-container" autosize>
  <!-- SECCION IZQUIERDA (PARTE INTERIOR DEL SIDEBAR) -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="home">Inicio</a>
      <a mat-list-item routerLink="users">Alumnos</a>
      <a mat-list-item routerLink="courses">Cursos</a>
      <a mat-list-item routerLink="classes">Clases</a>
      <a mat-list-item (click)="logout()"> Cerrar Sesión</a>
    </mat-nav-list>
  </mat-drawer>

  <!-- SECCION DERECHA DEL CONTENIDO -->
  <div class="example-sidenav-content">
    <div>
      <mat-toolbar class="d-flex justify-content-between w-100 h-100 p-3">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <img
            src="https://www.coderhouse.com/imgs/ch.svg"
            alt="Logo Instituto Cultural Mendoza"
          />
        </div>
        <div class="d-flex gap-3 align-items-center" *ngIf="authUser$ | async; let authUser">
       <mat-icon>
        person
       </mat-icon>
          <p>{{authUser.firstName}} {{authUser.lastName}}</p>
        </div>
      </mat-toolbar>
    </div>

    <!-- USERS COMPONENT -->
    <router-outlet />
  </div>
</mat-drawer-container>
