<mat-grid-list cols="3" rowHeight="18vh" class="gap-3">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-card class="p-5 border rounded rounded-4">
      <div id="weather_wrapper ">
        <div class="weatherCard ">
          <div class="currentTemp">
            <span class="temp">30&deg;</span>
            <span class="location">Mendoza</span>
          </div>
          <div class="currentWeather">
            <span class="conditions">&#xf00d;</span>
            <div class="info">
              <span class="rain">1.3 MM</span>
              <span class="wind">10 MPH</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="4" class="d-inline">
    <div class="gap-3">
      <mat-card class="align-items-start border rounded p-4 m-2">
        <div class="d-flex gap-2 m-2">
          <mat-icon>check_circle</mat-icon>
          <p class="my-auto">Estás al día con tu cursada</p>
        </div>
        <div>
          <p>Tu próxima clase es el 21/10/24</p>
          <button mat-raised-button color="primary">Ir </button>
        </div>
      </mat-card>

      <mat-card class="demo-inline-calendar-card m-2 border">
        <mat-calendar></mat-calendar>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-card class="learning-path border border-2 m-5">
      <h3>Ruta de Aprendizaje: Desarrollador web Full Stack</h3>
      <mat-divider></mat-divider>
      <p class="my-3">
        Como Desarrollador web Full Stack podrás crear una aplicación web
        completa y funcional. Aprenderás todo sobre frontend y backend,
        incluyendo gestión de bases de datos.
      </p>
      <button mat-raised-button color="accent">Ir a la ruta</button>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <div class="extra-info border rounded p-4">
      <div>
        <mat-icon>web</mat-icon>
        <p>Webinars</p>
      </div>
      <div>
        <mat-icon>card_giftcard</mat-icon>
        <p>Beneficios</p>
      </div>
      <div>
        <mat-icon>signal_cellular_alt</mat-icon>
        <p>Estado de la Plataforma</p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
