<div class="container">
  
  <h2 appFontSize fontSize="30px">Alumnos</h2>

  <div class="border border-2 p-2 rounded-4">
    <div class="demo-button-container m-2">
      <button mat-flat-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Crear Alumno
      </button>
    </div>

    <mat-divider></mat-divider>


    @if (isLoading) {
    <mat-spinner class="mx-auto m-5"></mat-spinner>
    } @else {

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let student">{{ student.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let student">{{ student | userFullName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let student">{{ student.email }}</td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef>Birthdate - Edad</th>
        <td mat-cell *matCellDef="let student">
          {{ student.birthdate | date }} - (Edad {{ student.birthdate | age }})
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let student">{{ student.createdAt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let student">
          <button mat-icon-button class="m-1" (click)="goToDetail(student.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button class="m-1" (click)="openDialog(student)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="m-1" (click)="onDelete(student.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }
  </div>
</div>
