@if(isLoading){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<p class="text-center my-5">CARGANDO...</p>
}@else {
<div class="my-auto justify-content-center">
  <div class="align-items-center d-flex gap-4 p-5 dCards">
    <div class="col-4">
      <div class="col-12">
        <mat-card class="col-3 p-5 m-auto">
          <div class="card-content m-auto text-center">
            <mat-icon class="m-auto"> person </mat-icon>
            <p class="text-center">Próximamente...</p>
          </div>
        </mat-card>
      </div>
    </div>
    <mat-card class="col-6 border border-3 p-5">
      <div class="card-content d-inline">
        <p>ID: {{ student?.id }}</p>
        <p>Nombre: {{ student?.firstName }}</p>
        <p>Apellido: {{ student?.lastName }}</p>
        <p>Mail: {{ student?.email }}</p>
      </div>
    </mat-card>
  </div>
  <div class="p-5">
    <mat-card class="col-12 p-5 border border-4 course-content">
      <div class="m-auto">{{inscriptions | json}}</div>
    </mat-card>
  </div>
</div>
}
