<div class="container" *ngIf="course$ | async as course; else loading">
  <mat-card class="course-status">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <h1 class="text-center my-5">{{ course.name }}</h1>
        <mat-divider> </mat-divider>
        <h4 class="text-center my-4">{{ course.description }}</h4>
      </div>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          <mat-icon>folder_open</mat-icon> Material del Curso
        </button>
      </mat-card-actions>
    </div>

    <mat-tab-group>
      <mat-tab label="Programa">
        <ng-container *ngFor="let classItem of course.classes" class="my-4">
          <mat-card
            appearance="outlined"
            class="p-3 col-12 my-3 d-flex justify-content-between flex-row"
          >
            <div class="d-flex gap-4">
              <mat-icon matListItemIcon>radio_button_checked</mat-icon>
              <p class="my-auto">
                Clase {{ classItem.id }} - {{ classItem.name }}
              </p>
            </div>
          </mat-card>
        </ng-container>
      </mat-tab>
      <mat-tab label="Alumnos">
        <div *ngIf="studentsByCourse$ | async as studentsByCourse" class="m-4">
          <ng-container *ngIf="studentsByCourse.length > 0; else noStudents">
            <mat-card
              *ngFor="let student of studentsByCourse"
              class="border rounded m-5 d-flex"
            >
              <mat-card-header>
                <mat-card-title>
                  {{ student.firstName }} {{ student.lastName }}</mat-card-title
                >
                <mat-card-subtitle>ID: {{ student.id }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions align="end">
                <button
                  mat-flat-button
                  (click)="onDeleteInscription(student.id)"
                >
                  DESINSCRIBIR
                </button>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>

        <ng-template #noStudents>
          <p>No hay estudiantes inscritos en este curso.</p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner class="mx-auto m-5"></mat-spinner>
</ng-template>
