.mat-list {
  display: flex;
  flex-wrap: wrap; /* Permitir que las tarjetas fluyan en varias líneas */
  gap: 1rem; /* Espaciado entre tarjetas */
}

.custom-list-item {
  margin-bottom: 1rem; /* Ajusta este valor según sea necesario */
}

.custom-card {
  width: 100%; /* Para que la tarjeta ocupe todo el ancho disponible */
  display: block;
  box-sizing: border-box;
}